@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Outfit';
}

body {
    background-color: hsl(212, 45%, 89%);
}

main {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 60vh;
}


.qr-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 10px;
    border-radius: 8%;
}

.text {
    text-align: center;
    max-width: 17rem;
    margin-left: auto;
    margin-right: auto;
}

.text h1 {
    font-size: 22px;
    font-weight: 700;
}

.text p {
   padding: 15px;
   font-weight: 400;
}

@media screen and (max-width: 375px) {
    main {
        width: 90%;
        height: 75vh;
    }
}